.ads{
    contain:content;
    display:grid;
    & > aside{
        display:flex;
        flex-wrap:wrap;
        grid-row:2;
        justify-content:space-evenly;
        overflow:auto;
    }
    & > h2{
        grid-row:1;
    }
}