.card-list{
    align-content:space-around;
    align-items:baseline;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
}

.mini-card{
    --card-size:28vmax;

    display:block;
    height:var(--card-size);
    margin:4vh auto;
    overflow:hidden;
    position:relative;
    width:var(--card-size);
}
.card-img,.crad-date,.card-title{
    overflow:hidden;
    position:absolute;
    width:var(--card-size);
}
.card-img{
    height:calc(var(--card-size) / 4 * 3);
    top:0;
}
.card-date{
    background-color:#ddd;
    display:inline-block;
    height:2em;
    line-height:2em;
    margin:0;
    padding:0 1em;
    right:0;
    top:calc(var(--card-size) / 4 * 3 - 2em);
}
.card-title{
    bottom:0;
    box-sizing:border-box;
    padding:1em;
    text-align:center;
    text-overflow:ellipsis;
    vertical-align:middle;
    white-space:nowrap;
}

.big-card{
    box-sizing:border-box;
    padding:0 0 1em;
    margin:4vh auto;
    max-width:96%;
    & > h2{
        background-color:#000;
        color:#fff;
        display:inline-block;
        font-size:1.8em;
        margin:0;
        padding:.5em 0;
        text-align:center;
        width:100%;
    }
    & ul{
        list-style-type:none;
    }
}