@import 'variables';
#name-ga-cookie-accept-bar{
    background-color:$yellow;
    bottom:calc(50% - (#{$ga_alert_size} / 2));
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
    contain:strict;
    height:$ga_alert_size;
    max-height:20em;
    max-width:80vw;
    opacity:.95;
    padding:1vh 0;
    position:fixed;
    right:calc(50% - (#{$ga_alert_size} / 2));
    width:$ga_alert_size;

    & button{
        box-sizing:border-box;
        font-weight:bold;
        margin:calc(#{$base-vertical-rythm} / 4) 0 0;
        width:100%;
    }
}

#ga-cookie-accept-btn{
    background-color:#00ff11;
}
#ga-cookie-deny-btn{
    background-color:red;
}