#name-ga-cookie-accept-bar{
    --ga_alert_size:40em;
    background-color:#fff;
    height:--ga_alert_size;
    margin:auto;
    max-width:80vw;
    opacity:.8;
    position:fixed;
    width:--ga_alert_size;

    & button{
        box-sizing:border-box;
        margin:0;
        width:100%;
    }
}

#ga-cookie-accept-btn{
    background-color:green;
}
#ga-cookie-deny-btn{
    background-color:red;
}