@import 'variables';

#name-ga-cookie-accept-bar{
    background-color:$yellow;
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
    contain:strict;
    display:grid;
    grid-template-areas:
    " icon line line line line "
    " .... line line line line "
    " ....  OK  ....  NO  .... ";
    grid-template-rows:2em 1fr 2em 1fr 2em;
    grid-template-columns:2em 2em 1fr;
    height:$ga_alert_size;
    left:10vw;
    max-height:80vh;
    max-width:80vw;
    opacity:.95;
    padding:2em;
    position:fixed;
    top:10vh;
    width:$ga_alert_size;

    & button{
        box-sizing:border-box;
        font-weight:bold;
    }

    & i{
        grid-area:icon;
    }

    & aside{
        grid-area:line;
    }
}

#ga-cookie-accept-btn{
    background-color:#00ff11;
    grid-area:OK;
}
#ga-cookie-deny-btn{
    background-color:red;
    grid-area:NO;
}