@import 'variables';

#name-ga-cookie-accept-bar{
    background-color:$yellow;
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
    contain:strict;
    display:grid;
    grid-template-areas:
    " icon line line line line "
    " ....  OK  ....  NO  .... ";
    grid-template-columns:$ga_alert_icon_size minmax(#{$ga_alert_atomic_size}, 1fr) $ga_alert_icon_size minmax(#{$ga_alert_atomic_size}, 1fr) $ga_alert_icon_size;
    grid-template-rows:calc(#{$ga_alert_icon_size} * 2 + 1em) minmax(#{$ga_alert_icon_size}, 1fr);
    left:5vw;
    max-height:90vh;
    max-width:90vw;
    min-height:calc(#{$ga_alert_icon_size} * 4);
    min-width:$ga_alert_size;
    place-content:center;
    position:fixed;
    top:5vh;

    & button{
        box-sizing:border-box;
        font-weight:bold;    }

    & i{
        grid-area:icon;
    }

    & aside{
        grid-area:line;
    }
}

#ga-cookie-accept-btn{
    background-color:#00ff11;
    grid-area:OK;
}
#ga-cookie-deny-btn{
    background-color:red;
    grid-area:NO;
}