@import 'variables';

.site-header{
    color:$white;
    padding:$base-vertical-rythm 0;
    text-align:center;
    width:100%;

    & .copyright a,
    & .copyright a:visited,
    & .copyright a:active{
        color:$white;
    }
}

.index-nav{
    box-sizing:border-box;
    display:grid;
    grid-template-columns:repeat(3, minmax(calc(#{$card-size} / 2), 1fr));
    margin:calc(#{$base-vertical-rythm} * 3) auto;
    max-width:94%;
    padding:1em 0;
    text-align:center;
    @include shadow;

    & > a{
        font:{
            size:1.6em;
            weight:bold;
        }
        grid-row:1 / 2;
    }

    & .search-form-wrapper{
        grid-column:1 / 4;
        grid-row:2 / 3;
    }

    & .mini-card{
        grid-row:3 / 4;
        width:100%;
    }
}
