.index-main{
    & > *{
        margin:6vh auto;
        @include base-backplate;
    }
    & nav{
        width:96vw;
        & a{
            display:inline-block;
            padding:0 .5em;
            width:calc((96vw - 4em) / 4);
        }
    }
}

.index-title{
    text-align:center;
}