@import 'variables';
.index-detail{
    margin:6vh auto;
    max-width:86%;
    padding:initial 2em;
    @include base-backplate;
}

.index-nav{
    margin:initial auto;
    width:96vw;
    & a{
        display:inline-block;
        padding:0 .5em;
        width:calc((96vw - 4em) / 4);
    }
}

.index-title{
    text-align:center;
}