@import 'variables';

.index-nav{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-evenly;
    width:100%;
    & a{
        font:{
            size:1.6em;
            weight:bold;
        }
        text-align:center;
    }
}

.index-detail{
    display:block;
    margin:1em auto;
    text-align:center;
}