@import 'variables';
.index-nav{
    display:grid;
    grid-template:repeat(1fr,2)/repeat(1fr,5);
    padding:1em;
    & a{
        font:{
            size:1.6em;
            weight:bold;
        }
        text-align:center;
    }
}

.index-detail{
    grid-column:1/6;
    grid-row:1;
    text-align:center;
}