@import 'variables';
.keyword-search{
    //margin:$base-vertical-rythm auto;
    position:relative;

    & > *{
        display:inline-block;
        height:2em;
        line-height:2em;
        vertical-align:baseline;
    }
    & input[type='search']{
        background-color:$white;
        border:1px solid $black;
        min-width:16em;
    }
    & input[type='submit']{
        color:$blue;
        font-family:FontAwesome;
        width:2em;
    }
}