@import 'variables';

.keyword-search{
    position:relative;
    $element-size:2.5em;

    & > *{
        display:inline-block;
        height:$element-size;
        line-height:$element-size;
        vertical-align:baseline;
    }
    & input[type='search']{
        background-color:$white;
        min-width:18em;
    }
    & button[type='submit']{
        background-color:transparent;
        border-color:transparent;
        color:$blue;
        position:absolute;
        right:.25em;
        width:3em;
    }
}