.toc{
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
    margin:4vh auto;
    padding:4vh 0;
    width:90%;
}
.toc-title{
    max-width:80%;
}

.columun{
    border:1em solid #333;
    padding:1em;
}

.notice,
.question{
    background-color:#f4f3eb;
    box-sizing:border-box;
    margin:1vh auto;
    padding:2em 2em 2em calc(7rem + 2vmin);
    position:relative;
    width:80%;
}
.info-literal{
    background-color:#eae3b4;
    border-radius:50%;
    color:#f4f3eb;
    display:inline-block;
    font-size:3em;
    font-weight:700;
    height:3em;
    left:1vmin;
    line-height:3em;
    //margin-right:7em;
    position:absolute;
    text-align:center;
    top:1vmin;
    width:3em;
}

.search-form{
    margin:2vh auto;

    & > *{
        display:inline-block;
        height:2em;
        line-height:2em;
        padding:1em;
        vertical-align:baseline;
    }
}
.query{
    background-color:#fff;
    border:1px solid #333;
    max-width:70%;
    min-width:16em;
}
.search-btn{
    background-color:#1155ee;
    border:1px solid #1155ee;
    box-shadow:0 0 3vmin rgba(0,0,0,.2);
    color:#fff;
    max-width:30%;
    padding-left:2em;
    padding-right:3em;
}

.link-button{
    border:1em solid #03a9f4;
    box-shadow:0 0 3vmin rgba(0,0,0,.2);
    padding:1em 2em;

    &:hover{
        background-color:#03a9f4;
        color:#fff;
    }
}