//something var

$card-size:28vmax;
$base-vertical-rythm:2vh;

$white:#fff;
//$light-gray:;
//$gray:;
//$dark-gray:;
$black:#333;
$blue:#03a9f4;

@mixin base-backplate{
    background-color:rgba(255,255,255,.3);
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
}