$ga_alert_size:54em;
$info-literal-size:2em;
$card-size:28vmax;
$base-vertical-rythm:2vh;

$white:#fff;
$light-gray:#eee;
//$gray:;
$dark-gray:#bbb;
$black:#000;
$blue:#03a9f4;
$yellow:#eae3b4;

@mixin one-line-txt{
    text-overflow:ellipsis;
    white-space:nowrap;
}

@mixin base-backplate{
    background-color:rgba(255,255,255,.28);
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
}

@mixin cutting-cardboared{
    $var1: 5px;
    background-color:#f4f4f4;
    border-bottom:1px dashed #ccc;
    border-top:1px dashed #ccc;
    box-shadow:0 7px calc($var1 * 2) calc($var * -1) rgba(0,0,0,.1) inset;
    padding:.75em;
}