- title = current_page.data.title || data.settings.site.title
- description = current_page.data.description || data.settings.site.description
- url = data.settings.site.baseurl
- image = current_page.data.image || data.settings.site.mainimage
- theme_color = data.settings.site.theme_color || '#ffcc00'

meta charset='utf-8'
meta content='ie=edge' http-equiv='x-ua-compatible'
meta name='renderer' content='webkit'
meta name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no"
title =title
meta name='description' content=description
meta name='theme-color' content=theme_color
meta name='msapplication-TileColor' content=theme_color
meta property='og:title' content=title
meta property='og:description' content=description
meta property='og:image' content=(url + image_path(image))
meta property='og:url' content=(url + current_page.url)
meta property='og:type' content='website'
meta name='twitter:card' content='summary_large_image'
meta name='twitter:title' content=title
meta name='twitter:description' content=description
meta name='twitter:image' content=(url + image_path(image))
link rel='fluid-icon' href=image_path(image) title=title
link rel='image_src' href=image_path(image) url=image_path(image) height='256' width='256'