section class='big-card ads'
    #rfsn_img_45618
    ins.adsbygoogle data-ad-format='auto' data-full-width-responsive='true' data-ad-client=data.front.google_adsense.id data-ad-slot=data.front.google_adsense.preset-slot
    /<script async src='https://cse.google.com/cse.js?cx=partner-pub-2031385222575316:7950431969'></script><div class="gcse-searchbox-only"></div>