- google_adsense = data.front.google_adsense
section class='big-card ads'
    #rfsn_img_45618
    ins.adsbygoogle style='display:block' data-ad-format='auto' data-full-width-responsive='true' data-ad-client=google_adsense.id data-ad-slot=google_adsense.responsive.to_s