= stylesheet_link_tag 'all'
= javascript_include_tag '//identity.netlify.com/v1/netlify-identity-widget.js', async: 'async'
= javascript_include_tag 'highlight.pack', async: 'async', onload: 'hljs.initHighlightingOnLoad();'
= javascript_include_tag 'main', defer: 'defer'