- site_data = data.front
- site_title = site_data.title
- base_url = site_data.base_url
- logo = site_data.logo
- language = site_data.language
- theme_color = '#' + site_data.theme_color || '#333'
- background_color = '#' + site_data.background_color || '#fff'
- description = site_data.description
- if logo
    - image_dir = logo
- else
    - image_dir = '/images/no-img.png'
- image_url = base_url + image_dir
|{
|    "name": "#{site_title}",
|    "short_name": "#{site_title}",
|    "default_locale": "#{language}",
|    "description": "#{description}",
|    "theme_color": "#{theme_color}",
|    "background_color": "#{background_color}",
|    "start_url": "/",
|    "display": "standalone",
|    "orientation": "portrait",
|    "icons": [{
|        "src": "#{logo}",
|        "sizes": "256x256",
|        "type": "image/png"
|    }]
|}